<md-toolbar layout="row" layout-align="start center">
    <!-- <section layout="row" layout-sm="column" layout-align="center center">-->
    <md-button md-no-ink ui-sref=".calls" class="">Cmb</md-button>

    <span hide-sm>
        <md-button>Calls</md-button>
        <md-button>Operators</md-button>
    </span>

    <span flex></span>

	<md-button ng-href="/auth/logout" class="md-fab md-mini" aria-label="Profile">
		<md-icon md-svg-src="{{frontend}}app/assets/img/icons/ic_people_24px.svg"></md-icon>
	</md-button>

    <!--</section>-->
</md-toolbar>
<!--TODO de scos css-ul static-->
<md-progress-linear ng-if="loading" md-mode="indeterminate"
                    style="position: absolute;z-index: 1000000;top: 54px;width: 100%;"></md-progress-linear>