<b>Users Data</b>

<md-checkbox>Image</md-checkbox>
<md-checkbox>Email</md-checkbox>
<md-radio-group ng-model="filters.email">
    <md-radio-button value="eq">is</md-radio-button>
    <md-radio-button value="ne"> is not </md-radio-button>
    <md-radio-button value="starts_with">starts with</md-radio-button>
    <md-radio-button value="ends_with">ends with</md-radio-button>
    <md-radio-button value="contains">contains</md-radio-button>
    <md-radio-button value="not_contain">does not contain</md-radio-button>
    <md-radio-button value="unknown">is unknown</md-radio-button>
    <md-radio-button value="known">has any value</md-radio-button>
</md-radio-group>

<md-checkbox>User ID</md-checkbox>
<md-checkbox>Signed Up</md-checkbox>
<md-checkbox>First Seen</md-checkbox>
<md-checkbox>Last Seen</md-checkbox>
<md-checkbox>Last Contacted</md-checkbox>
<md-checkbox>Last Heard From</md-checkbox>
<md-checkbox>Sessions</md-checkbox>
<md-checkbox>Country</md-checkbox>
<md-checkbox>Region/State</md-checkbox>
<md-checkbox>City</md-checkbox>
<md-checkbox>Browser</md-checkbox>
<md-checkbox>Browser Language</md-checkbox>
<md-checkbox>Browser Version</md-checkbox>
<md-checkbox>OS</md-checkbox>
<md-checkbox>Tag</md-checkbox>
<md-checkbox>Unsubscribed From Emails</md-checkbox>

<b>Company Data</b>

<md-checkbox>Company Name</md-checkbox>
<md-checkbox>Company Id</md-checkbox>
<md-checkbox>Company Last Seen</md-checkbox>
<md-checkbox>Users</md-checkbox>
<md-checkbox>Company Sessions</md-checkbox>
<md-checkbox>Plan</md-checkbox>
<md-checkbox>Company Id</md-checkbox>
<md-checkbox>Company Created At</md-checkbox>
<md-checkbox>Company Spend</md-checkbox>
<md-checkbox>Company Segment</md-checkbox>
<md-checkbox>Company Tag</md-checkbox>