<div>
    <div class="md-toolbar-tools">
        <span>2 / 0 users</span>
        <md-button>Message</md-button>
        <md-button>Tag</md-button>
        <md-button>Delete</md-button>
        <md-button>Export</md-button>
        <md-button>Import</md-button>
        <!-- fill up the space between left and right area -->
        <span flex></span>

        <div class="dropdown pull-right">

            <md-button id="tLabel" class="md-icon-button" aria-label="More" type="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                <md-icon md-svg-icon="assets/img/icons/more_vert.svg"></md-icon>
                <span class="caret"></span>
            </md-button>

            <ul class="dropdown-menu" role="menu" aria-labelledby="tLabel">
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['image']" />Image</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['type']" />Type</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['email']" />Email</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['user_id']" />User ID</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['signed_up_at']" />Signed Up</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['first_seen_at']" />First Seen</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['last_seen_at']" />Last Seen</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['last_contacted_at']" />Last Contacted</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['last_heard_from_at']" />Last Heard From</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['session_count']" />Sessions</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['location_country_name']" />Country</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['location_region_name']" />Region/State</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['location_city_name']" />City</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['browser_name']" />Browser</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['browser_language']" />Browser Language</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['browser_version']" />Browser Version</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['browser_os']" />OS</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['tags']" />Tag</label></li>
                <li role="presentation"><label class="checkbox"><input type="checkbox" ng-model="columns['unsubscribed_from_emails']" />Unsubscribed From Emails</label></li>
            </ul>
        </div>
    </div>
</div>
<md-content layout="column" flex class="table-responsive">
    <table class="table table-striped table-hover" ng-table="tableParams">

        <tbody>
        <tr ng-repeat="user in users">

            <td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'">
                <input type="checkbox" ng-model="checkboxes.items[user.id]"/>
            </td>

            <td ng-show="columns['image']" data-title="'Image'"><img ng-src="{{user.image}}" class="face" alt="{{user.name}}"></td>
            <td ng-show="columns['name']" sortable="'name'" data-title="'Name'" >{{user.name}}</td>
            <td ng-show="columns['type']" data-title="'Type'">User</td>
            <td ng-show="columns['email']" sortable="'email'" data-title="'Email'">{{user.email}}</td>
            <td ng-show="columns['user_id']" data-title="'User ID'">{{user.user_id}}</td>
            <td ng-show="columns['signed_up_at']" data-title="'Signed Up'">{{user.signed_up_at}}</td>
            <td ng-show="columns['first_seen_at']" data-title="'First Seen'">{{user.first_seen_at}}</td>
            <td ng-show="columns['last_seen_at']" data-title="'Last Seen'">{{user.last_seen_at}}</td>
            <td ng-show="columns['last_contacted_at']" data-title="'Last Contacted'">{{user.last_contacted_at}}</td>
            <td ng-show="columns['last_heard_from_at']" data-title="'Last Heard From'">{{user.last_heard_from_at}}</td>
            <td ng-show="columns['session_count']" data-title="'Sessions'">{{user.session_count}}</td>
            <td ng-show="columns['location_country_name']" data-title="'Country'">{{user.location.country_name}}</td>
            <td ng-show="columns['location_region_name']" data-title="'Region/State'">{{user.location.region_name}}</td>
            <td ng-show="columns['location_city_name']" data-title="'City'">{{user.location.city_name}}</td>
            <td ng-show="columns['browser_name']" data-title="'Browser'">{{user.browser_agent.name}}</td>
            <td ng-show="columns['browser_language']" data-title="'Browser Language'">{{user.browser_agent.language}}</td>
            <td ng-show="columns['browser_version']" data-title="'Browser Version'">{{user.browser_agent.version}}</td>
            <td ng-show="columns['browser_os']" data-title="'OS'">{{user.browser_agent.os}}</td>
            <td ng-show="columns['tags']" data-title="'Tag'">{{user.tags.data}}</td>
            <td ng-show="columns['unsubscribed_from_emails']" data-title="'Unsubscribed From Emails'">{{user.unsubscribed_from_emails}}</td>
        </tr>
        </tbody>
    </table>

    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
    </script>

</md-content>