<label>Filters</label>
<div ng-repeat="filter in data.availableFilters" layout="column">
	<md-checkbox ng-model="data.activeFilters[filter.property].active" ng-change="createPropertyFilter(filter.property)">{{filter.name}}</md-checkbox>
	<div ng-repeat="item in data.activeFilters[filter.property].filters" ng-show="data.activeFilters[filter.property].active">
		<filter filter-model="item" delete-filter="deleteFilter(filter.property, $index)" filter-type="filter.type" filter-calls="filterCalls()"></filter>
	</div>
	<md-button
			flex
			ng-show="isVisiblePropertyFilterBtn(filter.property)"
			ng-click="addPropertyFilter(filter.property)"
			class="md-raised">Add Filter
	</md-button>
</div>