<md-card layout="column" flex class="table-responsive">

	<md-data-table-toolbar class="alternate">
		<div>{{selected.length}} / {{calls.length}}  {{selected.length > 1 ? 'items' : 'item'}} selected</div>
	</md-data-table-toolbar>

	<md-data-table-container>
		<table md-data-table md-row-select="selected">
			<thead md-filter="query.filter" md-trim-column-names>
			<tr>
				<th order-by="number">Number</th>
				<th order-by="status">Status</th>
				<th order-by="tTimer">Timer</th>
				<th order-by="">Operator</th>
				<th order-by="created_at.date">Date</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="call in calls">
				<td>{{call.number}}</td>
				<td>{{call.status}}</td>
				<td>{{call.timer}}</td>
				<td>{{call.user.last_name}} {{call.user.first_name}}</td>
				<td>{{call.created_at.date}}</td>
			</tr>
			</tbody>
		</table>
	</md-data-table-container>

	<md-data-table-toolbar layout-align="end">
		<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{calls.count}}"></md-data-table-pagination>
	</md-data-table-toolbar>

</md-card>